#fly_contact_type3 div.back:before {background: #3498db;}
#fly_contact_type3 div.main:before {background: #2980b9;}

#fly_contact_type3 fieldset label.submit>button {background: #2980b9; color: #fff;}
#fly_contact_type3 fieldset label.submit>button:hover {background: #3498db;}

#fly_contact_type3 fieldset label input:not([type="submit"]):empty {border: 1px solid #2980b9;}
#fly_contact_type3 fieldset label textarea:empty {border: 1px solid #2980b9;}

#fly_contact_type3 .success{color:#fff;}
.alreadygoing.success_send{background: #2980b9;}

.fly_popup_pro_timer{background: #2980b9;}