#fly_contact_type4 input[type=submit] {background: #2980b9;}
#fly_contact_type4 input[type=submit]:hover {background: #3498db;}
#fly_contact_type4 div.consentBlock a {color: #2980b9;}


.fly_popup_pro_timer{background: #2980b9;}