#fly_contact_type4 input[type=submit] {background: #c0392b;}
#fly_contact_type4 input[type=submit]:hover {background: #e74c3c;}
#fly_contact_type4 div.consentBlock a {color: #c0392b;}

.fly_popup_pro_timer{background: #c0392b;}