#fly_contact_type1 .bgColorBlock {background: linear-gradient(-45deg, #e74c3c 0%, #8e44ad 100%);}
#fly_contact_type1 .fieldset label.submit>button {background: #8e44ad;}

.fly_popup_pro_timer{background: #8e44ad;}