#skyweb24_contact_type1 .bgColorBlock {background: linear-gradient(-45deg, #9b59b6 0%, #2980b9 100%);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #2980b9;}

.skyweb24_popup_pro_timer{background: #2980b9;}