#skyweb24_contact_type1 .bgColorBlock {background: linear-gradient(-45deg, #f1c40f 0%, #c0392b 100%);}
#skyweb24_contact_type1 .fieldset label.submit>button {background: #c0392b;}

.skyweb24_popup_pro_timer{background: #c0392b;}