#skyweb24_roulette h2{
    color:#3498db;
}
#skyweb24_roulette h3{
    color:#3498db;
}
#skyweb24_roulette p.result_roll{
    color:#3498db;
}
#skyweb24_roulette label.email.input>input{
    border:1px solid #2980b9;
    border-radius:3px;
    color:#3498db;
}
#skyweb24_roulette button.roll_roulette{
    border:1px solid #2980b9;
    background:#2980b9;
    color:white;
    border-radius:3px;
    padding:10px;
}


#skyweb24_roulette div.arrow path:nth-child(1){fill:#3498db!important}
#skyweb24_roulette div.arrow path:nth-child(2){fill:#2980b9!important}

.skyweb24_popup_pro_timer{background: #3498db;}