#skyweb24_roulette h2{
    color:#2ecc71;
}
#skyweb24_roulette h3{
    color:#2ecc71;
}
#skyweb24_roulette p.result_roll{
    color:#2ecc71;
}
#skyweb24_roulette label.email.input>input{
    border:1px solid #27ae60;
    border-radius:3px;
    color:#2ecc71;
}
#skyweb24_roulette button.roll_roulette{
    border:1px solid #27ae60;
    background:#27ae60;
    color:white;
    border-radius:3px;
    padding:10px;
}
#skyweb24_roulette div.arrow path:nth-child(1){fill:#2ecc71!important}
#skyweb24_roulette div.arrow path:nth-child(2){fill:#27ae60!important}

.skyweb24_popup_pro_timer{background: #2ecc71;}